[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BISdata"]
	path = BISdata
	url = https://github.com/enricoschumann/bisdata
[submodule "bundesbank"]
	path = bundesbank
	url = https://github.com/enricoschumann/bundesbank
[submodule "datetimeutils"]
	path = datetimeutils
	url = https://github.com/enricoschumann/datetimeutils
[submodule "neighbours"]
	path = neighbours
	url = https://github.com/enricoschumann/neighbours
[submodule "NMOF"]
	path = NMOF
	url = https://github.com/enricoschumann/nmof
[submodule "orgutils"]
	path = orgutils
	url = https://github.com/enricoschumann/orgutils
[submodule "password"]
	path = password
	url = https://github.com/enricoschumann/password
[submodule "PMwR"]
	path = PMwR
	url = https://gitlab.com/enricoschumann/pmwr
[submodule "textutils"]
	path = textutils
	url = https://github.com/enricoschumann/textutils
[submodule "tsdb"]
	path = tsdb
	url = https://github.com/enricoschumann/tsdb
